{% extends "base.html" %}

{% block start %}
<body>
    <a href="/contact-page/">Contact</a>
    | 
    <a href="/about-page/">About</a>
    

    <h1>Nice to meet you, this is a index.html file</h1>
    

            <table class="container">
        <tr>
            <th>Sno.</th>
            <th>Name</th>
            <th>Age</th>
            <th>Can vote</th>
        
        {% for people in peoples %}
        </tr>
        <tr>

            <td>{{forloop.counter}}
                
            </td>
            <td>{{people.name}}</td>
            <td>{{people.age}}</td>
            <td {% if people.age < 18 %} style="background:red" {% endif %}">
                {% if people.age >= 18 %}
                yes
                {% else %} 
                no
                {% endif %}
            </td>
        </tr>
       
        {% endfor %}
        </table>

       
</body>

{% endblock %}