{% extends "base.html" %}
{% block start %}
<body>
    

    <div class="container mt-5">
      <form class="col-6 mx-auto card p-3 shadow" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Add Receipe</h1>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Receipe name</label>
            <input name="receipe_name" type="text" class="form-control" required>   
        </div>

        <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label" >Receipe description</label>
            <textarea class="form-control" name="receipe_desc" required></textarea> 
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Choose image</label>
            <input name="receipe_image" type="file" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <hr>

    </div>

    <table class="table mt-5 mx-auto shadow" >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Receipe Name</th>
          <th scope="col">Receipe Description</th>
          <th scope="col">Receipe Image</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      {% for receipe in receipe %}
      <tbody>
        <tr>   
          <th scope="row">{{forloop.counter}}</th>
          <td>{{receipe.receipe_name}}</td>
          <td>{{receipe.receipe_desc}}</td>
          <td><img src="/media/{{receipe.receipe_image}}" style="height:100px"></td>
        
        <td>
          <a href="/delete-receipe/{{receipe.id}}"><button class="btn btn-danger m-3">Delete</button></a>
          <a href="/update-receipe/{{receipe.id}}"><button class="btn btn-success">Update</button></a>
        </td>
        </tr>
        {% endfor %}
      </tbody>
</body>


{% endblock %}